#container {
  align-items: start;
  display: grid;
  gap: 16px;
  grid-template-columns: 160px 1fr;
  max-width: var(--page-width);
  width: 100%;
}

#container article {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#container section {
  line-height: 1.3rem;
}

#container h1 {
  font-size: 1.45rem;
}

#container h2 {
  font-size: 1.2rem;
  margin-top: 4px;
}

@media screen and (max-width: 720px) {
  #container {
    gap: 8px;
    grid-template-columns: auto;
  }
}
