.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  margin: 24px 16px 128px 24px;
  min-height: 400px;
}

#header {
  background-color: var(--c-2);
  display: flex;
  height: 64px;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 999;
}

#headerContent {
  align-items: center;
  column-gap: 16px;
  display: grid;
  grid-template-columns: 110px 1fr 110px;
  margin: 2px 16px;
  max-width: var(--page-width);
  width: 100%;
}

@media screen and (max-width: 720px) {
  .main {
    margin: 8px 8px 90px 8px;
  }

  .hiddenForMobile {
    display: none;
  }

  .expandMobile {
    grid-template-columns: auto !important;
  }

  #headerContent {
    margin: 2px 8px;
  }
}
