.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 24px 0;
}

#header {
  background-color: rgb(48 48 48);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
}

#headerContent {
  align-items: center;
  column-gap: 16px;
  display: flex;
  justify-content: space-between;
  max-width: var(--page-width);
  margin: 2px 16px;
  width: 100%;
}

.title {
  line-height: 1.15;
}

@media screen and (max-width: 720px) {
  .main {
    margin: 8px 0;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
