.container {
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
