.result {
  align-items: center;
  border-radius: 4px;
  column-gap: 8px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  width: 100%;
}

.good {
  background-color: var(--c-good);
}

.bad {
  background-color: var(--c-bad);
}
