.container {
  width: 100%;
}

.badInput {
  border: 2px solid var(--c-bad);
}

.explanation {
  align-items: center;
  background-color: var(--c-bad);
  border-radius: 0px 0px 4px 4px;
  column-gap: 8px;
  display: flex;
  padding: 6px 6px 10px 6px;
}

.explanation svg {
  margin-top: 2px;
}
