.in {
  margin-top: 2px;
  position: relative;
}

.field {
  flex-grow: 1;
  width: 100%;
}

.field label {
  font-size: 1.05rem;
  margin-bottom: 4px;
}

.field input {
  font-size: 1.1rem;
  min-width: 32px;
  width: 100%;
}

.field select {
  font-size: 1.1rem;
  min-width: 32px;
  width: 100%;
}
