.in {
  margin-top: 2px;
}

.field {
  flex-grow: 1;
  width: 100%;
}

.field label {
  font-size: 1.05rem;
  margin-bottom: 4px;
}

.field input {
  font-size: 1.2rem;
  min-width: 32px;
  width: 100%;
  box-sizing: border-box;
}

.field select {
  font-size: 1.2rem;
  min-width: 32px;
  width: 100%;
  box-sizing: border-box;
}
