html,
body {
  line-height: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #fefefe;
    background: #161616;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: bold;
}

p {
  margin: 6px 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2,
legend {
  font-size: 1.4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
}

ol,
ul {
  display: flex;
  flex-direction: column;
}

ol {
  list-style-type: decimal;
  margin-left: 16px;
  padding-left: 16px;
  row-gap: 4px;
}

section {
  align-items: flex-start;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  row-gap: 10px;
}

form,
fieldset {
  display: contents;
}

select,
input,
textarea {
  border: 2px solid rgba(128, 128, 128, 0.8);
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 3px;
  width: 100%;
}

option {
  background-color: #161616;
}

textarea {
  font-size: 1rem;
  min-width: 256px;
  min-height: 80px;
}

button,
input[type='button'],
input[type='submit'] {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 2px;
  border: 2px solid rgba(128, 128, 128, 0.4);
  box-sizing: border-box;
  color: #eee;
  font-size: 1.1rem;
  mix-blend-mode: color-dodge;
  padding: 2px 12px;
}

button:active,
input[type='button']:active,
input[type='submit']:active {
  background-color: rgba(128, 128, 128, 0.8);
}

button:focus,
input[type='button']:focus,
input[type='submit']:focus {
  border: 2px solid rgba(128, 128, 128, 1);
}

button:disabled {
  color: gray;
  pointer-events: none;
  user-select: none;
}
