#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: var(--page-width);
  row-gap: 24px;
}

#questions {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 16px;
}

#questions div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#questions section {
  padding: 10px 10px 12px 14px;
  row-gap: 2px;
}

#questions dt {
  font-weight: 700;
}

#questions svg {
  height: 24px;
  stroke-width: 0.35;
  width: 24px;
}

@media screen and (max-width: 720px) {
  #questions {
    grid-template-columns: 1fr;
  }
}
