.container {
  background-color: var(--c-3);
  border-radius: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
}

.platform {
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  row-gap: 6px;
  width: 100px;
}

.platform a {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0px 4px;
  width: 100%;
}

.platform div {
  align-items: center;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  padding: 1px 0px;
}

.container input,
.container textarea,
.container select,
.container button {
  background-color: transparent;
}

.container *::placeholder {
  color: rgba(240, 240, 240, 0.4);
}

button.addControl:focus {
  border: 2px solid var(--c-inverse);
}

.Bluesky {
  border-color: var(--c-bluesky);
  background-color: var(--c-bluesky-dark);
}

.Bluesky input,
.Bluesky textarea,
.Bluesky select,
.Bluesky button {
  border-color: var(--c-bluesky);
}

.Bluesky button:active,
.Bluesky svg:hover,
.Bluesky .platform {
  background-color: var(--c-bluesky);
}

.Mastodon {
  border-color: var(--c-mastodon);
  background-color: var(--c-mastodon-dark);
}

.Mastodon input,
.Mastodon textarea,
.Mastodon select,
.Mastodon button {
  border-color: var(--c-mastodon);
}

.Mastodon button:active,
.Mastodon svg:hover,
.Mastodon .platform {
  background-color: var(--c-mastodon);
}

.Threads {
  border-color: var(--c-threads);
  background-color: var(--c-threads-dark);
}

.Threads input,
.Threads textarea,
.Threads select,
.Threads button {
  border-color: var(--c-threads);
}

.Threads button:active,
.Threads svg:hover,
.Threads .platform {
  background-color: var(--c-threads);
}

.Twitter {
  border-color: var(--c-twitter);
  background-color: var(--c-twitter-dark);
}

.Twitter input,
.Twitter textarea,
.Twitter select,
.Twitter button {
  border-color: var(--c-twitter);
}

.Twitter button:active,
.Twitter svg:hover,
.Twitter .platform {
  background-color: var(--c-twitter);
}

.Twitch {
  border-color: var(--c-twitch);
  background-color: var(--c-twitch-dark);
}

.Twitch input,
.Twitch textarea,
.Twitch select,
.Twitch button {
  border-color: var(--c-twitch);
}

.Twitch button:active,
.Twitch svg:hover,
.Twitch .platform {
  background-color: var(--c-twitch);
}

.YouTube {
  border-color: var(--c-youtube);
  background-color: var(--c-youtube-dark);
}

.YouTube input,
.YouTube textarea,
.YouTube select,
.YouTube button {
  border-color: var(--c-youtube);
}

.YouTube button:active,
.YouTube svg:hover,
.YouTube .platform {
  background-color: var(--c-youtube);
}

.details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 10px 4px 10px 10px;
}

.addFields {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 12px 4px 12px 12px;
  row-gap: 8px;
}

.nameRow {
  font-size: 1.2rem;
  font-weight: 500;
  overflow: hidden visible;
  padding: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.descRow {
  font-size: 1rem;
  padding: 4px;
}

.UNVERIFIED {
  background-color: rgb(204, 110, 26);
}

.PENDING {
  background-color: rgb(44, 74, 211);
}

.REJECTED {
  background-color: rgb(204, 51, 51);
}

.VERIFIED {
  background-color: rgb(30, 172, 89);
}

.buttonColumn {
  padding: 2px;
}

.buttonColumn svg {
  border-radius: 7px;
  cursor: pointer;
  padding: 4px;
}

#addSelector {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--c-inverse);
  font-size: 0.95rem;
  font-weight: 600;
  margin: 6px 4px 4px 4px;
  padding: 1px;
  width: auto;
}
