#identities {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.editControls {
  display: flex;
  flex-direction: column;
}

.extension {
  font-size: 1.2rem;
  grid-column: 1 / 6;
  padding: 12px;
}

.TwitchExtension {
  background-color: rgba(100, 65, 165, 0.25);
}

.TwitterExtension {
  background-color: rgba(36, 70, 110, 0.25);
}

.snippet {
  margin: 1rem;
  padding: 12px;
  border-radius: 4px;
}

.TwitterSnippet {
  background-color: #24466e;
  border-left: 4px solid #206bc0;
}

.TwitchSnippet {
  background-color: #42246e;
  border-left: 4px solid #5d1fb9;
}

.row {
  display: contents;
}

.row div {
  font-size: 1.2rem;
  margin-top: 2px;
  padding: 8px 12px;
}

.row textarea {
  font-size: 1.2rem;
}

.headerRow div {
  font-size: 1rem;
  margin: 0;
  padding: 0px 12px 4px 12px;
}

.footerRow div {
  border-top: 2px solid #505050;
}

.Twitch div {
  background-color: #42246e;
  border-top: 2px solid #5d1fb9;
}

.Twitter div {
  background-color: #24466e;
  border-top: 2px solid #206bc0;
}

.desc {
  width: 100%;
}
