#container {
  background-color: var(--c-3);
  border-radius: 4px;
  column-gap: 6px;
  display: flex;
  flex-grow: 100;
  padding: 8px;
}

#container input {
  flex-grow: 100;
}

#container select {
  width: auto;
}

#searchForm {
  flex-grow: 100;
}

#toggleContainer {
  height: 38px;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.shown {
  display: flex !important;
}

.hiddenForMobile {
  display: flex !important;
}

.shownForMobile {
  display: none !important;
}

@media screen and (max-width: 720px) {
  .hiddenForMobile {
    display: none !important;
  }

  .shownForMobile {
    display: flex !important;
  }
}
