#container {
  align-items: start;
  display: grid;
  gap: 16px;
  grid-template-columns: 200px 1fr;
  max-width: var(--page-width);
  width: 100%;
}

#content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.Bluesky {
  color: var(--c-bluesky-light) !important;
}

.Mastodon {
  color: var(--c-mastodon-light) !important;
}

.Threads {
  color: var(--c-threads-light) !important;
}

.Twitter {
  color: var(--c-twitter-light) !important;
}

.Twitch {
  color: var(--c-twitch-light) !important;
}

.YouTube {
  color: var(--c-youtube-light) !important;
}

@media screen and (max-width: 720px) {
  #container {
    grid-template-columns: auto;
  }

  #content {
    margin: 0 16px;
  }
}
