#container {
  font-size: 1.1rem;
  position: sticky;
  top: 72px;
}

#container ul {
  margin-left: 0px;
  padding-left: 0px;
  row-gap: 0px;
}

#container li {
  align-items: center;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 36px auto;
  padding: 8px 16px;
}

#container span {
  overflow: hidden;
  text-overflow: ellipsis;
}

#container svg {
  height: 24px;
  stroke-width: 0.4;
  width: 24px;
}

.current {
  background-color: var(--c-2);
  font-weight: 600;
}

@media screen and (max-width: 720px) {
  #container {
    display: none;
  }
}
