.nameResult {
  margin-top: 2px;
  font-size: 1.05rem;
}

.userFields {
  column-gap: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.submitRow {
  grid-column: 1 / 3;
}

.passForm {
  column-gap: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
