#container {
  align-items: start;
  display: grid;
  gap: 16px;
  grid-template-columns: 160px 1fr;
  max-width: var(--page-width);
  width: 100%;
}

#container dd {
  font-size: 1.2rem;
}

#container p {
  margin-bottom: 16px;
}

#bio {
  font-size: 1.1rem;
}

.label {
  display: grid;
  font-size: 1.1rem;
  grid-template-columns: 36px 1fr;
}

.label svg {
  position: relative;
  top: -2px;
}

#identities {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
}

@media screen and (max-width: 720px) {
  #container {
    grid-template-columns: 120px 1fr;
  }

  .wide {
    grid-column: 1 / 3;
  }
}
