#container {
  align-items: start;
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr;
  max-width: var(--page-width);
  width: 100%;
}

#details {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#details p {
  font-size: 1.2rem;
}

#identities {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
}

@media screen and (max-width: 720px) {
  #container {
    grid-template-columns: 1fr;
  }
}
