#container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
}

#userBadge {
  border-radius: 6px;
  cursor: pointer;
  padding: 4px;
}

#userBadge:hover {
  background-color: var(--c-4);
}

#menu {
  background-color: var(--c-4);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  padding: 2px;
  position: absolute;
  right: 0px;
  row-gap: 2px;
  top: 44px;
  width: 110px;
}

#menu a {
  align-items: center;
  background-color: var(--c-3);
  column-gap: 6px;
  display: flex;
  padding: 8px;
}

#menu a:hover {
  background-color: var(--c-5);
}

#menu a:first-child {
  border-radius: 4px 4px 0px 0px;
}

#menu a:last-child {
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 720px) {
  #menu {
    font-size: 1.4rem;
    width: 140px;
  }

  #menu a {
    padding: 12px 8px;
  }

  .hiddenForMobile {
    display: none !important;
  }
}
