.example {
  border-left: 4px solid var(--c-inverse);
  padding: 12px;
  border-radius: 4px;
}

.example a {
  text-decoration: underline;
  color: var(--c-inverse);
}

.TwitterExample {
  background-color: var(--c-twitter-dark);
  border-color: var(--c-twitter-light);
}

.TwitchExample {
  background-color: var(--c-twitch-dark);
  border-color: var(--c-twitch-light);
}

.TwitterMessageRow {
  align-items: center;
  display: flex;
  flex-direction: row;
}
